<!-- LOGIN -->
  <div flex style="background-color: #eaebef;" md-theme="default" ng-init="carregaPagina()">

    
    <md-toolbar class="md-hue-2 md-whiteframe-4dp">
      <div class="md-toolbar-tools">      
        <h2>
          <span>Social</span>
        </h2>
          <span flex></span>          
      </div>
    </md-toolbar>

    <md-progress-linear md-mode="indeterminate" ng-show="$parent.carregando"></md-progress-linear>

    <div layout="column" layout-align="center center" class="container">       
      <div class="avatar md-whiteframe-3dp" style="background-image: url('{{dadosPerfil.avatar}}');"></div>      
      <h4 class="md-title text-center"> 
        Adicione a sua localização ao seu perfil!
      </h4>
      <md-button class="md-primary md-raised " ng-click="buscaLocal()"> 
        <i class="fa fa-map-marker fa-lg"></i>
         adicionar localização
      </md-button>
      <md-button class="md-primary " ng-href="{{ dadosPerfil.rota }}">
         ir para perfil
      </md-button>      
      

    </div>
  </div>


  <!-- END LOGIN -->