<!-- LOGIN -->
  <div flex style="background-color: rgb(40,53,147);" ng-init="callsession()">
    <div layout="column" class="login-form" md-theme="docs-dark"> 

      <h2 class="md-display-2 social-color-white text-center">                
        Social
      </h2>  
      
      <span ng-show="wait_callsession == 1">
        <div layout="column" layout-align="center center">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </span>

      <span ng-show="wait_callsession == 2">
        <md-input-container  class="md-block md-icon-float">
          <label class="social-color-white" style="text-shadow: none;">login</label>            
          <input ng-model="user.username">
        </md-input-container>
        <md-input-container class="md-block md-icon-float">
          <label class="social-color-white" style="text-shadow: none;">senha</label>            
          <input ng-model="user.password" type="password">
        </md-input-container>

        <p class="text-center" style="color: red;">{{ erro }}</p>

        <div flex>
          <md-button class="social-btn-login-tranparent" ng-click="logar(user);">
            entrar
          </md-button> 
        </div>
      </span>
      
      <!-- SESSAO LOGADA-->
      <span ng-show="wait_callsession == 3">
        <div flex="100" layout="column" layout-align="center center">          
          <div flex>      
            <div class="avatar md-whiteframe-3dp" style="background-image: url('{{ usersession.avatar }}'); height: 130px;width: 130px;"></div>      
          </div>        

          <div flex layout-padding class="social-color-white">                          
              {{ usersession.nome }}  
          </div><br>

          <div flex>
            <md-button class="social-btn-login-tranparent" ng-click="logar(usersession);">
              entrar
            </md-button> 
          </div>

        </div>        
      </span>
   

      <br><br>      
      <p class="social-color-white text-center">Não tem conta? 
        <a class="social-login-link" href="#/cadastro">Cadastre-se</a>
      </p>
      <br><br>
      <span ng-show="wait_callsession == 3" style="margin:0 auto;">
        <md-button class="social-btn-login-tranparent" ng-click="showlogin()">usar conta diferente</md-button>
      </span>
      

    </div>

    <script>
      //FACEBOOKASYNCINIT
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) 
          return;
        js = d.createElement(s); 
        js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=581702775331200";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </div>
  <!-- END LOGIN -->