<!-- LOGIN -->
  <div flex style="background-color: rgb(40,53,147);">
    <div layout="column" class="login-form" md-theme="docs-dark"> 

      <h2 class="md-display-2 social-color-white text-center">
        <i class="fa fa-braille fa-lg"></i>            
        Social
      </h2>
      
      <md-input-container  class="md-block md-icon-float">
        <label class="social-color-white" style="text-shadow: none;">login</label>            
        <input ng-model="user.username">
      </md-input-container>
      <md-input-container class="md-block md-icon-float">
        <label class="social-color-white" style="text-shadow: none;">senha</label>            
        <input ng-model="user.password" type="password">
      </md-input-container>

      <p class="text-center" style="color: red;">{{ erro }}</p>

      <md-button style="background-color: rgba(255,255,255,0.2); color: white;" ng-click="logar(user);">
        entrar
      </md-button>    

      <br><br>
      <p class="social-color-white text-center">Não tem conta? <a class="social-login-link" href="#/cadastro">Cadastre-se</a></p>

    </div>
  </div>
  <!-- END LOGIN -->