<!-- PERFIL -->
<div flex ng-init="carregaPerfil()">
  <div layout="row" layout-align="center center" class="container" layout-wrap> 

    <div flex="100" layout="column" layout-align="center
    center">
      <div class="avatar md-whiteframe-3dp" style="background-image: url('{{dadosPerfil.avatar}}');"></div>
      <h4 class="text-center"> 
        {{ dadosPerfil.nome }}                
      </h4>
      <md-button ng-if="dadosPerfil.placeId == 0">
        adicionar local
      </md-button>
      <p class="text-center" ng-if="dadosPerfil.placeId != 0">
        {{ buscaLocal(dadosPerfil.placeId) }}
      </p>
      
    </div>  

    <div style="width: 100%;">

    </div>

  </div>
</div>
  <!-- END PERFIL -->